python-dotenv
langchain
langchain-openai
langchain-core
langchain-community
langchain-experimental
langsmith
langgraph
tavily-python
faiss-cpu
PyMuPDF
openai
httpx
youtube-transcript-api
pytube
youtube-comment-downloader
youtube-search